<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Products</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <style>
        body {
          background-color: #ffe6f2;
        }
        </style>

    </head>
    <body>
        <div class="container d-flex flex-column ">
        <center><h1>All Products</h1></center>
        <ul>
            <% for(let p of products) { %>
              <div class="p-2 center"><li><a href="/products/<%= p._id %>"><%=p.name%></a></li></div>
            <%}%>
        </ul>
        </div><center>
        <div class="btn btn-primary">
            <div class="row">
              <div class="col text-center">
        <a class="btn btn-primary btn-block" role="button" width="10px" href="/products/new">Add</a>
    </div>
    </div>
    </div>
    </center>
        </body>
</html>